@model web_mvc.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="achete" /> @Html.DisplayNameFor(model => model.achete)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="quantite" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="date_expiration" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="FigurineId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div class="form-group">
                <input asp-for="UserId" class="form-control" type="hidden" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
