@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="margin-top: 30px;">
    <h1>Hello </h1>
    <p>Welcome to our figurines website!</p>
    <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Figurines" asp-action="Index" role="button">Read More</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Useful links</h3>
            </div>
            <div class="panel-body">
                <ul style="margin: 0;">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">External links</h3>
            </div>
            <div class="panel-body">
                <ul style="margin: 0;">
                    <li><a href="https://goo.gl/maps/FZnVeJBYiRr" target="_blank">Come see us!</a></li>
                    <li><a href="https://www.youtube.com/" target="_blank">YouTube channel</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
